<div class="row" style="margin-left: -200px;">
  <div class="small-12 columns">
<h1>Ship It</h1>
<%= link_to 'Submit Project', new_post_path %> - <%= link_to 'Sign Up to Vote', new_user_session_path %>
  </div>
</div>
    <% @posts.each do |post| %>
      <div class='row'>
        <div class="small-10 columns">

          <ul>
            <div class='row' id='top-left' >
              <div class='side-nav small-2 columns'>
                <p><%= pluralize post.votes.count, "High Five" %></p>
                  <% if user_signed_in? %>
                    <% if post.has_vote_from?(current_user) %>
                      <%= button_to "Remove High FIve", post_vote_path(post, post.vote_from(current_user)),
                        method: :delete%>
                    <% else %>
                      <%= button_to "High Five", post_votes_path(post), method: :post %>
                    <% end %>
                  <% end %>
              </div>
              <div class="small-10 columns">
              <h3><li><%= link_to post.name, post_path(post) %></li></h3>
                
              </div>
            </div>
          </ul>
        </div>
    <% end %>
  </div>
</div>
