<div class='row'>
  <div class='small-8 small-offset-1 columns'>
    <h1><%= link_to @post.name, @post.url %><span class='shipit_url'> - click me</span></h1>
  </div>
  <div class='small-9 small-offset-1 columns'>
    <p><b>Description</b>: <%= @post.description %></p>
  <% if @post.github_url != nil %>
  <p><b>Github</b>: <%= @post.github_url %></p>
  <% end %>
  <% if @post.user == current_user %>
    <%= link_to 'Edit', edit_post_path(post) %>
  <% end %>
  <br>
</div>


<div class='row'>
  <div class='small-8 small-offset-1 columns' style='margin-top:15px;'>
    <% if @post.feedbacks == [] %>
      <p>No feedbacks yet<p>
    <% else %>
      <h4><%= pluralize("#{@post.feedbacks.count}", 'Feedback')%></h4>
  </div>
</div>

   <% @post.feedbacks.each do |feedback| %>
      <div class="row">
        <div class="small-8 small-offset-1 columns"><%= feedback.comment %></div>
      </div>
    <% end %>
<% end %>



<% if user_signed_in? %>
  <%= form_for([@post, @feedback]) do |f| %>

    <% if @feedback.errors.any? %>
      <ul>
        <% @feedback.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <div>
      <%= f.label :comment %>
      <%= f.text_field :comment %>
    </div>

    <%= f.submit "Submit Feedback" %>
  <% end %>
<% else %>
  <h3><%= link_to 'Sign in', new_user_session_path %> to write a comment</h3>
<% end %>

